<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.8/ng-file-upload-all.js"></script>
  <script>
    angular.module("Form1", ["ngResource", "ui.bootstrap", "ngFileUpload", "duScroll"])
    .controller("FormController", ["$window", "$resource", "Upload", function($window, $resource, Upload) {
      var withFiles = $resource("/playground/form/withFiles");
      var self = this;
      this.values = {"氏名":"山田太郎"};
      this.submit = function(redirectTo) {
        Upload.upload({
          url: "/playground/form/withFiles",
          data: self.values
        }).then(function (response) {
          if (response.status == 200) {
            var result = response.data;
            if (result.success) $window.location.href = redirectTo;
          }
        }, function (response) {
          if (response.status > 0) console.log(response.status + ': ' + response.data);
        });
      };
    }])
    .run(["$rootScope",  function($scope) {
    }]);
    angular.element(document).ready(function() {
      angular.bootstrap(document, ['Form1']);
    });
  </script>
  <title>フォーム1</title>
</head>
<body>
  <div class="container" id="top">
    <h1>フォーム1</h1>
    <p>確認画面なし、ファイルアップロード有り</p>
    <div class="FormArea" ng-controller="FormController as c" ng-init="c.values['メールマガジン購読']='する'">
      <form name="form" ng-submit="c.submit('./thanks.html')">
        <div class="FormTitle">氏名 <span class="required">*</span></div>
        <div class="FormData">
          <input type="text" name="氏名" value="" placeholder="例：山田太郎" ng-model="c.values['氏名']" required/>
        <!-- / .FormData --></div>
        <div class="FormTitle">メールアドレス <span class="required">*</span></div>
        <div class="FormData">
          <input type="email" name="メールアドレス" value="" placeholder="例：suzuki@example.com" ng-model="c.values['メールアドレス']" required/>
        <!-- / .FormData --></div>

        <div class="FormTitle">メールアドレス（確認用） <span class="required">*</span></div>
        <div class="FormData">
          <input type="text" name="メールアドレス（確認用）" value="" ng-model="c.emailConfirm" placeholder="例：suzuki@example.com" required/>
        <!-- / .FormData --></div>
        <div class="FormTitle">生年月日 <span class="required">*</span></div>
        <div class="FormData -short">
          <div class="DateY"><input type="number" class="" name="生年月日 年" value="" ng-model="c.values['生年月日 年']" placeholder="西暦" required/> 年</div>
          <br class="sp" />
          <div class="PulldownSelect">
            <select name="生年月日 月" id="Date_Month" class="birthday" ng-model="c.values['生年月日 月']" required>
              <option value="" selected>&nbsp;</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          <!-- / .PulldownSelect --></div> 月

          <div class="PulldownSelect">
            <select name="生年月日 日" id="Date_Day" class="birthday" ng-model="c.values['生年月日 日']" required>
              <option value="" selected>&nbsp;</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          <!-- / .PulldownSelect --></div> 日
        <!-- / .FormData --></div>
        <div class="FormTitle">性別 <span class="required">*</span></div>
        <div class="FormData">
          <label class="Radio"><input type="radio" name="性別" value="男性" ng-model="c.values['性別']" required /><span class="RadioText">男性</span></label>
          <label class="Radio"><input type="radio" name="性別" value="女性" ng-model="c.values['性別']" required /><span class="RadioText">女性</span></label>
        <!-- / .FormData --></div>
        <div class="FormTitle">メールマガジン購読</div>
        <div class="FormData">
          <label class="Checkbox"><input type="checkbox" name="メールマガジン購読" value="" ng-true-value="'する'" ng-false-value="'しない'" ng-model="c.values['メールマガジン購読']"/><span class="CheckboxText">購読する</span></label>
        <!-- / .FormData --></div>
        <div class="FormTitle">書類1 <span class="required">*</span></div>
        <div class="FormData">
          <span class="File"><input type="file" ngf-select ng-model="c.values['書類1']" name="書類1" accept="application/pdf, application/msword, application/msexcel, application/mspowerpoint" required /></span>
        <!-- / .FormData --></div>

        <div class="FormTitle">書類2</div>
        <div class="FormData">
          <span class="File"><input type="file" name="書類2" accept="application/pdf, application/msword, application/msexcel, application/mspowerpoint" /></span>
        <!-- / .FormData --></div>

        <div class="FormData">
          <label class="Checkbox"><input type="checkbox" name="" value="" ng-model="acceptTerms"/><span class="CheckboxText">規約に同意する</span></label>
        <!-- / .FormData --></div>

        <p class="Btn -submit"><input type="submit" class="Btn__link" value="送信" ng-disabled="!acceptTerms"></p>
      </form>
    </div><!-- /formarea-->
  </div>
</body>
</html>
